<configuration>
  <connectionStrings>
    <add name="person1" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=PeopleDatabase;Data Source=203L-11-12"/>
    <add name="person2" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=PeopleDatabase;Data Source=203L-11-12"/>
    <add name="person3" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=PeopleDatabase;Data Source=203L-11-12"/>
    <add name="person4" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=PeopleDatabase;Data Source=203L-11-12"/>
    <add name="person" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=PeopleDatabase;Data Source=203L-11-12"/>
  </connectionStrings>
</configuration>
